logs/
referit3d.egg-info/
__pycache__/
build/
pointnet2.egg-info/
dist/
PKG-INFO
referit3d/external_tools/pointnet2/pointnet2.egg-info/PKG-INFO
bert/
keep_all_points_00_view_with_global_scan_alignment/
keep_all_points_with_global_scan_alignment/
nr3d.csv
showacc.py
test.py
referit3d/models/test.py
sr3d+.csv
sr3d.csv
category.txt
tensor_log.txt
